@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: rgb(46, 59, 71);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}

nav li {
    list-style-type: none;
    font-weight: 500;
}

nav a:link {
    color: white;
    text-decoration: none;
}
/* A link that has been visited */
nav a:visited {
    color: white;
}
/* A link that is hovered on */
nav a:hover {
    color: rgb(157, 203, 255);
}
/* A link that is selected */
nav a:active {
    color: white;
}

.capitol {
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main ul {
    width: 65%;
}

main li {
    padding: 10px;
}

h2 {
    width: 85%;
    text-align: center;
    padding: 15px;
    color: rgb(46, 59, 71);
}

nav h2 {
    color: white;
}

main h4 {
    width: 85%;
    text-align: center;
    margin-bottom: -5px;
}

main p {
    width: 65%;
    text-align: center;
}

.timeline {
    width: 80%;
    max-width: 750px;
    margin: 20px;
}

.billsponsors {
    width: 80%;
    max-width: 750px;
}

.rates {
    width: 75%;
    margin: 40px;
}

.micromezzo {
    width: 75%;
    margin: 40px;
    max-width: 800px;
}

.executivesummary p {
    text-align: left;
    margin: 10px;
}

.references {
    width: 80%;
    max-width: 750px;
    margin-bottom: 40px;
}

.values {
    width: 80%;
    max-width: 700px;
    margin: 20px;
}

.naswheader {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.law {
    width: 80%;
    max-width: 1000px;
    margin: 20px;
}

footer {
    background-color:  rgb(46, 59, 71);
    color: white;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: white thin solid;
}